@page "/manageClinic"

@using TodoList.Models

<div>
    <nav class ="nav nav-tabs mb-3" id="nav-tab" role="tablist">
        <button class="nav-link active" id="TiepDonTab" data-bs-toggle="tab" data-bs-target="#TiepDon" type="button"
                aria-controls="TiepDon" aria-selected="true">
            Tiếp đón
        </button>
        <button class="nav-link" id="KhamBenhTab" data-bs-toggle="tab" data-bs-target="#KhamBenh" type="button"
                aria-controls="KhamBenh" aria-selected="false">
            Khám bệnh
        </button>
        <button class="nav-link" id="PhanHoiTab" data-bs-toggle="tab" data-bs-target="#PhanHoi" type="button"
                aria-controls="PhanHoi" aria-selected="false">
            Phản hồi
        </button>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="TiepDon" role="tabpanel" aria-labelledby="TiepDonTab">

            <h3>Thông tin tiếp đón</h3>
            <EditForm Model="patientModel" OnValidSubmit="HandleClinic">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="PatientId">Chọn bệnh nhân: </label>
                        <InputSelect id="PatientId" class="form-control" @bind-Value="patientModel.PatientId">
                            <option value="">Chọn bệnh nhân</option>
                            @foreach (var patient in patients)
                            {
                                <option value="@patient.PatientId">@patient.Name</option>
                            }
                        </InputSelect>
                    </div>
                    <div class="col-sm-2">
                        <label for="Gender">Giới tính: </label>
                        <InputText id="Gender" class="form-control" @bind-Value="patientModel.Gender"></InputText>
                    </div>
                    <div class="col-sm-2">
                        <label for="Target">Đối tượng: </label>
                        <InputSelect id="Target" class="form-control" @bind-Value="patientModel.Target">
                            @foreach (var target in targetOptions)
                            {
                                <option value="@target">@target</option>
                            }
                        </InputSelect>
                    </div>
                    <div class="col-sm-4">
                        <label for="DateOfBirth">Ngày sinh: </label>
                        <InputDate TValue="DateTime" id="DateOfBirth" class="form-control" @bind-Value="@inputDate"></InputDate>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="Name">Họ và tên: </label>
                        <InputText id="Name" class="form-control" @bind-Value="patientModel.Name"></InputText>
                    </div>
                    <div class="col-sm-4">
                        <label for="Nation">Dân tộc: </label>
                        <InputText id="Nation" class="form-control" @bind-Value="patientModel.Nation"></InputText>
                    </div>
                    <div class="col-sm-4">
                        <label for="Age">Tuổi: </label>
                        <InputNumber id="Age" class="form-control" @bind-Value="patientModel.Age"></InputNumber>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="PhoneNumber">Số điện thoại:</label>
                        <InputText id="PhoneNumber" class="form-control" @bind-Value="patientModel.PhoneNumber"></InputText>
                    </div>
                    <div class="col-sm-8">
                        <label for="Address">Địa chỉ: </label>
                        <InputText id="Address" class="form-control" @bind-Value="patientModel.Address"></InputText>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="TreatmentType">Loại khám: </label>
                        <InputText id="TreatmentType" class="form-control" @bind-Value="patientModel.TreatmentType"></InputText>
                    </div>
                    <div class="col-sm-4">
                        <label for="FileNumber">Số hồ sơ</label>
                        <InputNumber id="FileNumber" class="form-control" @bind-Value="patientModel.FileNumber"></InputNumber>
                    </div>
                    <div class="col-sm-4">
                        <label for="CreatedDate">Ngày lập</label>
                        <InputDate TValue="DateTime" id="CreatedDate" class="form-control" @bind-Value="@createdDate"></InputDate>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-sm-4">
                        <label for="Condition">Tình trạng</label>
                        <InputText id="Condition" class="form-control" @bind-Value="patientModel.Condition"></InputText>
                    </div>
                    <div class="col-sm-4">
                        <label for="ClinicRoom">Phòng khám:</label>
                        <InputText id="ClinicRoom" class="form-control" @bind-Value="patientModel.ClinicRoom"></InputText>
                    </div>
                    <div class="col-sm-4">
                        <label for="TreatmentFee">Tiền khám:</label>
                        <InputNumber id="TreatmentFee" class="form-control" @bind-Value="patientModel.TreatmentFee"></InputNumber>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-sm-8">
                        <label for="TreatmentNote">Ghi chú khám: </label>
                        <InputTextArea id="TreatmentNote" class="form-control" @bind-Value="patientModel.TreatmentNote"></InputTextArea>
                    </div>
                    <div class="col-sm-4">
                        <label for="Doctor">Bác sĩ khám</label>
                        <InputText id="Doctor" class="form-control" @bind-Value="patientModel.Doctor"></InputText>
                    </div>
                </div>

                <div class="saveButton">
                    <button type="submit" class="btn btn-success">Lưu</button>
                </div>
            </EditForm>
        </div>

        <div class="tab-pane fade" id="KhamBenh" role="tabpanel" aria-labelledby="KhamBenhTab">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <label for="ClinicalDiagnosis">Khám lâm sàng: </label>
                    <InputTextArea id="ClinicalDiagnosis" class="form-control" @bind-Value="treatmentModel.ClinicalDiagnosis"></InputTextArea>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-2">
                    <label for="Pulse">Nhịp tim: </label>
                    <InputNumber id="Pulse" class="form-control" @bind-Value="treatmentModel.Pulse"></InputNumber>
                </div>
                <div class="col-sm-2">
                    <label for="BloodPressure">Huyết áp: </label>
                    <InputNumber id="BloodPressure" class="form-control" @bind-Value="treatmentModel.BloodPressure"></InputNumber>
                </div>
                <div class="col-sm-2">
                    <label for="Temperature">Nhiệt độ: </label>
                    <InputNumber id="Temperature" class="form-control" @bind-Value="treatmentModel.Temperature"></InputNumber>
                </div>
                <div class="col-sm-2">
                    <label for="Breath">Nhịp thở: </label>
                    <InputNumber id="Breath" class="form-control" @bind-Value="treatmentModel.Breath"></InputNumber>
                </div>
                <div class="col-sm-2">
                    <label for="Weight">Cân nặng: </label>
                    <InputNumber id="Weight" class="form-control" @bind-Value="treatmentModel.Weight"></InputNumber>
                </div>
                <div class="col-sm-2">
                    <label for="Height">Chiều cao: </label>
                    <InputNumber id="Height" class="form-control" @bind-Value="treatmentModel.Height"></InputNumber>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-6">
                    <label for="AdditionalDisease">Bệnh kèm theo: </label>
                    <InputTextArea id="AdditionalDisease" class="form-control" @bind-Value="treatmentModel.AdditionalDisease"></InputTextArea>
                </div>
                <div class="col-sm-6">
                    <label for="Allergy">Dị ứng thuốc: </label>
                    <InputTextArea id="Allergy" class="form-control" @bind-Value="treatmentModel.Allergy"></InputTextArea>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-12">
                    <label for="ICD10">ICD10: </label>
                    <InputTextArea id="ICD10" class="form-control" @bind-Value="treatmentModel.ICD10"></InputTextArea>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-12">
                    <label for="Conclusion">Kết luận: </label>
                    <InputTextArea id="Conclusion" class="form-control" @bind-Value="treatmentModel.Conclusion"></InputTextArea>
                </div>
            </div>

            <div class="saveButton">
                <button type="submit" class="btn btn-success">Lưu</button>
            </div>
        </div>

        <div class="tab-pane fade" id="PhanHoi" role="tabpanel" aria-labelledby="PhanHoiTab">
            
            <BlazoredTextEditor @ref="@QuillHtml">
                <ToolbarContent>
                    <select class="ql-header">
                        <option selected=""></option>
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                    </select>
                    <span class="ql-formats">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button>
                        <button class="ql-strike"></button>
                    </span>
                    <span class="ql-formats">
                        <select class="ql-color"></select>
                        <select class="ql-background"></select>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-list" value="ordered"></button>
                        <button class="ql-list" value="bullet"></button>
                        <button class="ql-indent" value="-1"></button>
                        <button class="ql-indent" value="+1"></button>
                        <select class="ql-align">
                            <option selected=""></option>
                            <option value="center"></option>
                            <option value="right"></option>
                            <option value="justify"></option>
                        </select>
                    </span>
                    <span class="ql-formats">
                        <button class="ql-link"></button>
                    </span>
                </ToolbarContent>
                <EditorContent>
                    
                </EditorContent>
            </BlazoredTextEditor>
        </div>
    </div>

    
</div>

@code {
    private PatientRequest_Old patientModel = new PatientRequest_Old();
    private TreatmentRequest treatmentModel = new TreatmentRequest();
    private DateTime inputDate = DateTime.Now.AddDays(0);
    private DateTime createdDate = DateTime.Now.AddDays(0);
    private bool ShowError;

    //Doi tuong mau
    private List<string> targetOptions = new List<string> { "Dịch vụ", "Ưu tiên", "Khác" };
    //Benh nhan mau
    private List<PatientRequest_Old> patients = new List<PatientRequest_Old>
    {
        new PatientRequest_Old {PatientId = Guid.NewGuid(), Name = "Bệnh nhân 1"},
        new PatientRequest_Old {PatientId = Guid.NewGuid(), Name = "Bệnh nhân 2"}
    };

    private async Task HandleClinic()
    {
        patientModel.DateOfBirth = inputDate;
        ShowError = false;
    }

    private BlazoredTextEditor QuillHtml;
}
